* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background: #202020;
    --background-input: #3b3b3b;
    --border-color: #ffffff;
    --border-color-invalid: #f25050;
}

body {
    height: 100vh;
    background: var(--background-input);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


    background-color: var(--background);
}

h1 {
    color: var(--border-color);
}

#box_search {
    position: relative;
}

#box_search > input[type="text"]{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3.5px solid var(--border-color);
    
    background: transparent;
    transition: .2s;

    color: var(--border-color);
    font-size: 16px;
    padding-left: 12px;
    
    outline: none !important;
}

#box_search > img{
    position: absolute;
    right: 13px;
    top: 13px;
    cursor: pointer;
}

/* hover */
form:hover input[type="text"]{
    cursor: pointer;
    width: 300px !important;
    border-radius: 12px !important;
    background-color: var(--background-input) !important;

}

input[type="text"]:focus {
    width: 300px !important;
    border-radius: 12px !important;
}

input[type="text"]:valid {
    width: 300px !important;
    border-radius: 12px !important;
}